.container {
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center; /* centraliza vertical (se tiver altura) */
  width: 100%;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: var(--raio-circular);
  background-image: url("/imagens/logo.svg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
    height: 100px;
  }
}
