.container {
  width: 100%;
  max-width: var(--largura-maxima);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--espacamento-sm);
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--largura-maxima-desktop);
  }
}

